{% extends 'base.html.twig' %}

{% block body %}
<section id="confirmation">
<div>
    <p>Votre {{formulaire}} à bien été prise en compte.</p>

    <a href="{{path('accueil')}}" class="btn btn-success">Retour à l'accueil</a>
</div>
</section>  
{% endblock %}