{% extends 'base.html.twig' %}

    {% block body %}

        <section id="recherche">
        
            <div class="row justify-content-around">

                <div class="col-lg-4 col-md-4 col-sm-4 ">

                <h4 class="title">Votre Simulation</h4>
                
                <form id="simulation" class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">
                
                <!-- Ligne Nb bureau -->
                <div class="row mt-2 justify-content-center">
                    <div class="form-group col-lg-4 col-md-4 col-sm-2">
                    <fieldset>
                    <!-- <label class="control-label" for="readOnlyInput">Votre mobilier</label> -->
                        <input class="form-control-plaintext" id="readOnlyInput" type="text" placeholder="SURFACE" readonly="">
                    </fieldset>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 d-flex align-items-center">
                        <input type="text" class="form-control" id="surfaceMin" name="surfaceMin" placeholder="Min">
                    </div>

                    <div class="form-group col-lg-3 col-md-3 col-sm-3 d-flex align-items-center">
                        <input type="text" class="form-control" id="surfaceMax" name="surfaceMax" placeholder="Max">
                    </div>
                <!-- FIN Ligne Surface -->
                </div>
                <!-- Ligne Nb bureau -->
                <div class="row mt-2 justify-content-center ">
                    <div class="form-group col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                
                        <select class="form-control" id="nbBureaux" name="nbBureaux">
                        <option selected disabled value="0">Nb</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                    <fieldset>
                    <!-- <label class="control-label" for="readOnlyInput">Votre mobilier</label> -->
                        <input class="form-control-plaintext" id="readOnlyInput" type="text" placeholder="BUREAU" readonly="">
                    </fieldset>
                    </div>
                
                    <blockquote class="blockquote text-center d-flex align-items-basline">
                    <p class="mb-0 mt-2">pour</p>
                    </blockquote>

                    <div class="form-group-inline col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    <div class="form-group form-group-inline ">
                        <select class="form-control" id="exampleSelect1">
                            <option selected disabled >Pers.</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        
                    </div>
                    </div>

                <!-- FIN Ligne Nb bureau -->
                </div>

                <!-- Ligne Nb OPEN SPACE -->
                <div class="row mt-2 justify-content-center ">
                    <div class="form-group col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    
                        <select class="form-control" id="nbOpenSpace" name="nbOpenSpace">
                        <option selected disabled value="0">Nb</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 ">
                    <fieldset>
                    <!-- <label class="control-label" for="readOnlyInput">Votre mobilier</label> -->
                        <input class="form-control-plaintext" id="readOnlyInput" type="text" placeholder="OPEN SPACE" readonly="">
                    </fieldset>
                    </div>

                    <blockquote class="blockquote text-center">
                    <p class="mb-0 mt-2">pour</p>
                    </blockquote>

                    <div class="form-group-inline col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    <div class="form-group form-group-inline ">
                        <select class="form-control" id="exampleSelect1">
                            <option selected disabled >Pers.</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        
                    </div>
                    </div>

                <!-- FIN Ligne Nb OPEN SPACE -->
                </div>

                    <!-- Ligne Nb SALLE DE REUNION -->
                <div class="row mt-2 justify-content-center ">
                    <div class="form-group col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    
                        <select class="form-control" id="nbSalleReunion" name="nbSalleReunion">
                        <option selected disabled value="0">Nb</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 ">
                    <fieldset>
                    <!-- <label class="control-label" for="readOnlyInput">Votre mobilier</label> -->
                        <input class="form-control-plaintext" id="readOnlyInput" type="text" placeholder="SALLE DE REUNION" readonly="">
                    </fieldset>
                    </div>

                    <blockquote class="blockquote text-center">
                    <p class="mb-0 mt-2">pour</p>
                    </blockquote>

                    <div class="form-group-inline col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    <div class="form-group form-group-inline ">
                        <select class="form-control" id="exampleSelect1">
                            <option selected disabled >Pers.</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        
                    </div>
                    </div>

                <!-- FIN Ligne Nb SALLE DE REUNION -->
                </div>

                <!-- Ligne Nb CUISINE / ESPACE DETENTE -->
                <div class="row mt-2 justify-content-center ">
                    <div class="form-group col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    
                        <select class="form-control" id="nbEspaceDetente" name="nbEspaceDetente">
                        <option selected disabled value="0">Nb</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 ">
                    <fieldset>
                    <!-- <label class="control-label" for="readOnlyInput">Votre mobilier</label> -->
                        <input class="form-control-plaintext" id="readOnlyInput" type="text" placeholder="CUISINE / ESPACE DETENTE" readonly="">
                    </fieldset>
                    </div>

                    <blockquote class="blockquote text-center">
                    <p class="mb-0 mt-2">pour</p>
                    </blockquote>

                    <div class="form-group-inline col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    <div class="form-group form-group-inline ">
                        <select class="form-control" id="exampleSelect1">
                            <option selected disabled >Pers.</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        
                    </div>
                    </div>

                <!-- FIN Ligne Nb CUISINE / ESPACE DETENTE -->
                </div>

                    <div class="loading"></div>
                    <div class="error-message"></div>
                    <div class="sent-message mt-4"></div>

                    <div class="form-send ">
                        <button type="submit" class="btn btn-large btn-success">Valider votre recherche</button>
                    </div>
                    </form>
                
                </div>
            </div>
            {# MODAL #}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Confiez nous votre recherche</button>
            
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title title" id="exampleModalLabel">Confiez-nous votre recherche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                {{ form_start(formRecherche) }}
                                    {{ form_widget(formRecherche) }}
                                <button type="submit" class="btn btn-large btn-success">Envoyer votre demande</button>
                                {{ form_end(formRecherche) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="divider"></div>

        </section>

        <section id="annonces" class="container">

            <h1 id="message">Les annonces correspondantes à votre recherche</h1>
            <div id="message"></div>
            <div class="annonceList">

            </div>

        </section>

    {% endblock body %}