{% extends 'base.html.twig' %}

{% block title %}Edit UserAdmin{% endblock %}

{% block body %}
    <h1>Edit UserAdmin</h1>

    {{ include('user_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_admin_index') }}">back to list</a>

    {{ include('user_admin/_delete_form.html.twig') }}
{% endblock %}
