/*****************************/
/****** GLOBAL
/*****************************/
:root {
	--headerColor: #343a40;
	--footerColor: #1a1a1a;
	--googleRed: #de5246;
	--linkedinBlue: #0077b5;
}

/*****************************/
/****** HEADER
/*****************************/
/* NAV */
/* logo */
header {
	background-color: var(--headerColor);
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
}
header .navbar-brand > img {
	width: 4rem;
	margin-left: auto;
}
header #navbarNavAltMarkup {
	margin-left: 12rem;
}
header .nav-link {
	border-bottom: solid 5px transparent;
	margin-top: 5px;
}
header .nav-link:hover {
	border-bottom: solid 5px orange;
}

@media screen and (max-width: 991px) {
	header {
		display: block;
	}
	header #navbarNavAltMarkup {
		margin-left: 0;
	}
	header nav {
		margin: 0 2rem 0 2rem;
	}
	header .nav-link:hover {
		border-bottom: solid 5px transparent;
	}
}
/*****************************/
/****** HOME
/*****************************/
#home {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 900px;
}
#home h1 {
	color: white;
	margin-bottom: 2rem;
}
#home strong {
	color: white;
	font-weight: 900;
	margin-bottom: 5rem;
}
/*****************************/
/****** FOOTER
/*****************************/
footer {
	background-color: var(--footerColor);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem 0 1rem 0;
}
footer nav {
	margin-bottom: 1rem;
}
footer #references {
	margin-bottom: 3rem;
	height: 0px;
	overflow: hidden;
}
footer #references img {
	height: 5rem;
	margin: 0 1rem 0 1rem;
}
footer #references i {
	color: black;
	font-size: 2rem;
}
footer .nav-link {
	color: white;
	display: inline;
}
.fa-linkedin {
	font-size: 3rem;
	color: black;
	margin-right: 1rem;
}
.fa-google-plus {
	font-size: 3rem;
	color: black;
}
