/*
#recherche div.row.justify-content-around {
    border: 2px red solid;
}

#recherche div.col-lg-4 {
    border: 2px solid rgb(255, 251, 0);
}



#recherche div.row.mt.justify-content-center {
    border: 2px solid rgb(30, 255, 0);
}

#recherche div.form-group.col-lg-2 {
    border: 2px solid blueviolet
}
*/