{% extends 'backoffice.html.twig' %}

{% block body %}

    <h1>Changer le mot de passe</h1>

    <form action="{{ path('security_password_change') }}" method="post">

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="email">Ancien mot de passe</label>
            <input id="email" type="password" class="form-control" name="old_password">
        </div>
        <div class="form-group">
            <label for="email">Nouveau mot de passe</label>
            <input id="email" type="password" class="form-control" name="new_password">
        </div>

        <button type="submit" class="btn btn-success">Valider</button>

    </form>

{% endblock %}