{% extends 'backoffice.html.twig' %}

{% block body %}

    <section class="wrapper">
        <h1>Edit Annonce</h1>
        {{ include('annonce/_form.html.twig', {'button_label': 'Update'}) }}
    </section>

{% endblock %}
