{% extends 'backoffice.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}

    <section class="wrapper">
        <h1>Nouvelle Annonce</h1>
        {{ include('annonce/_form.html.twig') }}
        <a href="{{ path('annonce_index') }}">back to list</a>
    </section>


{% endblock %}
