{% extends 'base.html.twig' %}

{% block body %}
<section id="forgetpw">
<div>
    <p>Si vous avez oublié votre mot de passe, il vous suffit de remplir votre adresse mail ci-dessous et un mail vous sera envoyé avec un nouveau mot de passe</p>

    <form action="{{ path('security_password_forget') }}" method="post">

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email">
        </div>

        <button type="submit" class="btn btn-success">Valider</button>

    </form>

    <p>{{ message }}</p>
</div>
</section>  
{% endblock %}