{% extends 'backoffice.html.twig' %}

{% block body %}

    <div class="jumbotron" style="margin:20px; padding:20px; box-shadow:1px 1px 1px 1px">
        <h1 class="display-4">Bonjour {{ app.user.username }}</h1>
        <p class="lead">Bienvenue dans la partie back-office, ici tu pourras gérer : 
            <ul>
                <li>- Les messages</li>
                <li>- Les annonces</li>
                <li>- Les administrateurs du back-office</li>
                <li>- Tu peux également changer ton mot de passe si besoin</li>
            </ul>
        <p>
        <hr class="my-4">
        <p>Si tu as des questions techniques, n'hésite pas à appeler Stéphane, il se fera une joie de te répondre ;)</p>
        <a class="btn btn-primary btn-lg" href="mailto:toto@hotmail.com" role="button">Contact</a>
    </div>

{% endblock %}