<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Coucou voici mon back-office</h1>

<nav>
    <a href="{{ path('annonce_index') }}">Ma liste des annonces</a>
    <a href="{{ path('candidature') }}">Ma liste des candidatures</a>
    <a href="{{ path('contact_index') }}">Ma liste des contacts</a>
    <a href="{{ path('user_admin_index') }}">Ma liste des userAdmins</a>
</nav>
    
</body>
</html>